{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}
{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1200x400/?telephone,contact" class="d-block w-100 mx-4" alt="...">  
<h3 class="text-center">Contact Us</h3>
<div>
<div class="container mb-3 py-4">

<form method="post" action="/contact">
{% csrf_token %}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your number">
    </div>
    
    
    <div class="form-group">
      <label for="desc">Tell me about what you want to contact me for</label>
      <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
    </div>
  
  <button class="btn btn-primary"type="submit">Submit</button>
  </form>
</div>


{% endblock body %}
